.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
docs/01-cap01.md
01-cap01.Rmd
docs/02-cap02.md
02-cap02.Rmd
docs/03-cap03.md
03-cap03.Rmd
docs/04-cap04.md
04-cap04.Rmd
docs/05-cap05.md
05-cap05.Rmd
docs/06-cap06.md
06-cap06.Rmd
docs/07-cap07.md
07-cap07.Rmd
docs/08-cap08.md
08-cap08.Rmd
docs/09-cap09.md
09-cap09.Rmd
docs/10-cap10.md
10-cap10.Rmd
docs/11-cap11.md
11-cap11.Rmd
docs/12-cap12.md
12-cap12.Rmd
docs/13-referencias.md
13-referencias.Rmd
index.Rmd
docs/index.md